# Install MLflow
mlflow

# Install MLflow with the experimental MLflow Pipelines component
mlflow[pipelines]  # for pip

# Install MLflow with extra ML libraries and 3rd-party tools
mlflow[extras]

# Install a lightweight version of MLflow
#  mlflow-skinny
